{
  "presets": ["env"],
  "plugins": [
    //    [
    //      "./build/import-plugin/index.js",
    //      {
    //        "libraryName": "antd",
    //        "libraryDirectory": "lib",
    //        "style": "css"
    //      }
    //    ],
    [
      "./build/first-plugin/index.js",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "css"
      }
    ]
  ]
}
